In [5]:
import pyodbc

In [4]:
import csv

In [43]:
conn = pyodbc.connect(r'DSN=adworksDSN;UID=python;PWD=password')

In [104]:
file_path = r'C:\Data\2016-12-metropolitan-street.csv'

In [105]:
file_path.rfind('\\')

7

In [106]:
fname = file_path[file_path.rfind('\\') + 1:-4]

In [107]:
fname

'2016-12-metropolitan-street'

In [115]:
table_name = 'AdventureWorks2012.dbo' + '.[' + fname + ']'

In [116]:
table_name

'AdventureWorks2012.dbo.[2016-12-metropolitan-street]'

In [136]:
#def import_csv_sql(nom)
columns = []
with open(r'C:\Data\2016-12-metropolitan-street.csv') as f:
    r = csv.reader(f)
    first_line = next(r)
    for j in first_line:
        columns.append('[' + j +']')
    query_1 = ('CREATE TABLE {0} ({1} varchar(max)) INSERT INTO {0} VALUES ({2})')\
    .format(table_name, ' varchar(max), '.join(columns), ', '.join('?' * len(columns)))
    cursor.execute(query_1, i)
    cursor.commit()
    query_2 = ('INSERT INTO {0} VALUES ({2})')\
    .format(table_name, ' varchar(max), '.join(columns), ', '.join('?' * len(columns)))
    cursor = conn.cursor()
    print(query_2)
    for i in r:
        cursor.execute(query_2, i)
        cursor.commit()

ProgrammingError: ('42S01', "[42S01] [Microsoft][SQL Server Native Client 11.0][SQL Server]There is already an object named '2016-12-metropolitan-street' in the database. (2714) (SQLParamData)")

In [130]:
cursor.commit()

In [6]:
file_path = r'C:\Data\2016-12-metropolitan-street.csv'
fname = file_path[file_path.rfind('\\') + 1:-4]
table_name = 'AdventureWorks2012.dbo' + '.[' + fname + ']'
columns = []
with open(file_path, 'r') as f:
    r = csv.reader(f)
    first_line = next(r)
    for j in first_line:
        columns.append('[' + j +']')
    print(columns)
    query_1 = ('IF OBJECT_ID (\'{0}\') IS NULL BEGIN  \
    CREATE TABLE {0} ({1} varchar(max)) END')\
    .format(table_name, ' varchar(max), '.join(columns))
    #print(query_1)
    cursor.execute(query_1)
    cursor.commit()
    query_2 = ('INSERT INTO {0} VALUES ({2})')\
    .format(table_name, ' varchar(max), '.join(columns), ', '.join('?' * len(columns)))
    cursor = conn.cursor()
    #print(query_2)
    for i in r:
        cursor.execute(query_2, i)
        cursor.commit()

['[Crime ID]', '[Month]', '[Reported by]', '[Falls within]', '[Longitude]', '[Latitude]', '[Location]', '[LSOA code]', '[LSOA name]', '[Crime type]', '[Last outcome category]', '[Context]']

NameError: name 'cursor' is not defined

In [100]:
ac = 'ad\4s"as4\dasdasd"asdd'

In [102]:
ac.rfind('\\')

8

In [101]:
ac[ac.rfind('\\') + 1:-4]

'dasdasd"'